<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{../images/favicon.png}" href="../../static/images/favicon.png">

    <title>Panel - Dishes</title>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" th:href="@{../css/lib/bootstrap/bootstrap.min.css}"  href="../../static/css/lib/bootstrap/bootstrap.min.css">

    <!-- Custom CSS -->
    <link th:href="@{../css/helper.css}" href="../../static/css/helper.css" rel="stylesheet">
    <link th:href="@{../css/style.css}" href="../../static/css/style.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:** -->
    <!--[if lt IE 9]>
    <script src="https:**oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https:**oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<style type="text/css">
    .frm1{
        border-radius: 5px;
    }
</style>
</head>

<body class="fix-header fix-sidebar">
    <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
			<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- Main wrapper  -->
    <div id="main-wrapper">
        <div th:replace="pannel/fragments/header :: header" >
        </div>
        <!-- End header header -->
        <!-- Left Sidebar  -->
        <div th:replace="pannel/fragments/sidebar :: sidebar" >
        </div>
        <!-- End Left Sidebar  -->
        <!-- Page wrapper  -->
        <div class="page-wrapper">
            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-primary">Dishes</h3> </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                        <li class="breadcrumb-item active">Dishes</li>
                    </ol>
                </div>
            </div>
            <!-- End Bread crumb -->
            <!-- Container fluid  -->
            <div class="container-fluid">
                <!-- Start Page Content -->

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div th:object="${dish}" class="card-content">
                                            <div class="row">
                                                <input type="hidden" th:field="*{id}" />
                                            <span class="col-sm-4">
                                            <label>Dish Name</label>
                                                <input type="text" th:field="*{name}" class="form-control frm1"  placeholder="Dish Name" required>
                                            </span>
                                            <span class="col-sm-4">
                                            <label>Category</label>
                                                <select class="form-control frm1">
                                                    <option>Select Category</option>
                                                </select>
                                            </span>
                                            </div>
                                            <div class="row">
                                            <span class="col-sm-4">
                                            <label>Dish Price</label>
                                                <input type="text" th:field="*{price}" class="form-control frm1" placeholder="Price" required>
                                            </span>
                                            <span class="col-sm-4">
                                            <label>Estimated Prepare Time</label>
                                                <input type="text" th:field="*{estimatedTimeToPrepare}" class="form-control frm1" placeholder="Estimated Time" required>
                                            </span>
                                            <span class="col-sm-4">
                                            <label style="margin-top: 10px;">Upload Image</label>
                                                <input type="file" class=" frm1" >
                                            </span>
                                            <span class="col-sm-12">
                                            <label style="margin-top: 10px;">Description</label>
                                                <textarea th:field="*{description}" class="form-control frm1"  placeholder="Enter Description" style="height: 150px;"></textarea>

                                            </span>
                                            <span class="col-sm-12">
                                                <a href="#" th:href="@{'dishes'}" class="btn btn-primary" role="button" style="margin-top: 5px;">Back</a>
                                            </span >
                                            </div>

                                    <!-- end card-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Container fluid  -->
            <!-- footer -->
            <footer class="footer"> © 2018 All rights reserved. Easy Dinein.</footer>
            <!-- End footer -->
        </div>
        <!-- End Page wrapper  -->
    </div>
    <!-- End Wrapper -->
    <!-- All Jquery -->
    <script th:src="@{../js/lib/jquery/jquery.min.js}" src="../../static/js/lib/jquery/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script th:src="@{../js/lib/bootstrap/js/popper.min.js}" src="../../static/js/lib/bootstrap/js/popper.min.js"></script>
    <script th:src="@{../js/lib/bootstrap/js/bootstrap.min.js}" src="../../static/js/lib/bootstrap/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script th:src="@{../js/jquery.slimscroll.js}" src="../../static/js/jquery.slimscroll.js"></script>
    <!--Menu sidebar -->
    <script th:src="@{../js/sidebarmenu.js}" src="../../static/js/sidebarmenu.js"></script>
    <!--stickey kit -->
    <script th:src="@{../js/lib/sticky-kit-master/dist/sticky-kit.min.js}" src="../../static/js/lib/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <!--Custom JavaScript -->
    <script th:src="@{../js/custom.min.js}" src="../../static/js/custom.min.js"></script>




</body>

</html>