<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap Simple Login Form</title>
    <link rel="stylesheet" th:href="@{css/bootstrap.css}"  href="/resources/css/bootstrap.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div class="container">
    <div class="jumbotron" style="margin-top: 35px">
    <h1>Registration Successful</h1>
    <p>Thank you <label th:text="${employee.name}">name</label> for registering yourself.<br>You can now add your restaurant, insert dishes and start collecting orders.</p>
    <p>
        <a class="btn btn-lg btn-primary" href="#" role="button">View Dashboard »</a>
    </p>
    </div>
</div>
</body>
</html>